name: Continuous Deployment (CD)

on:
  # Disparador: Correr SOLO cuando se hace push al branch 'production'
  push:
    branches:
      - "production"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Trigger Render Deploy
        run: |
          curl -X POST ${{ secrets.RENDER_DEPLOY_HOOK_URL }}
